.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.box{
    width: 1000px;
    display: flex;
    justify-content: center; 
}

.card{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    border-radius: 3px;
    font-size: 30px;
    margin-right: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    
    
}
.card:last-child {
    margin: 0;
}
.dragingCard {
    border-color: white
}
.overCard{
    background-color: black;
}
h1{
    text-align: center;
    font-family: "cursive";
}
body{
    background-image: url(back.jpg);
}
.play{
    cursor: pointer; 
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.hiddens{
    display: none;
}
.textmain{
    text-align: center;
    
}
.submit{
    cursor: pointer; 
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
 
}
#loginBtn{
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    margin-left: 20px;
}


/* //////////////////////////////////////////////// */
.wrap{ 
    width: 1000px;
    margin: 0 auto;
}
button {
    margin-right: 50px;
} 
.submit{
    margin: 0;
}
article {
    text-align: center;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
/* //////////////////////////////////////////////// */
